@using System.Web.Script.Serialization
@{
    ViewBag.Title = "Home Page";
}

<div class="card p-5">
    <div class="card-header bg-white d-flex justify-content-between">
        <h2>
            Jobs
        </h2>
        <a id="addJobBtn" class="btn btn-success d-flex align-items-center">Add New Job</a>
    </div>

    <div class="card-body">
        <div class="mb-3">
            <label>Default Branch</label>
            <div>
                <input id="DefaultBranchId" class="bg-white rounded" style="width: auto" />
            </div>
        </div>
        <div id="jobsGrid"></div>
    </div>

    <div id="jobWindow">
        <div id="jobWindowData"></div>
    </div>
</div>


@section scripts{
    <script>
        var Branches = @Html.Raw(new JavaScriptSerializer().Serialize(ViewBag.Branches));

        $(document).ready(function () {
            LoadGrid();
        });

        $("#DefaultBranchId").kendoComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: { data: Branches },
            value: "@ViewBag.DefaultBranchId",
            change: function (e) {
                LoadGrid();
            }
        });

        $('#addJobBtn').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Home")',
                success: function (result) {
                    $("#jobWindowData").html(result);
                    $('#jobWindow').data("kendoWindow").center().open();
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Network Error');
                }
            });
        });

        $('#jobsGrid').on('dblclick', ".k-grid-content tr", function(e) {
            var grid = $("#jobsGrid").data("kendoGrid");
            var dataItem = grid.dataItem(e.currentTarget);
            EditJobFunction(dataItem.Id);
        });

        $('#jobWindow').kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            title: "Job",
            width: "60%",
            visible: false
        });

        function LoadGrid() {
            $('#jobsGrid').kendoGrid({
                dataSource: {
                    transport: {
                        read: '@Url.Action("GetJobs", "Home")?branchId=' + $("#DefaultBranchId").data("kendoComboBox").value()
                    },
                    pageSize: 20,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                Name: { type: "string" },
                                HireDate: { type: "date" },
                            }
                        }
                    },
                },
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                columns: [
                    {
                        field: "Id",
                        hidden: true
                    },
                    {
                        field: "Name",
                        title: "Name"
                    },
                    {
                        field: "HireDate",
                        title: "Hire Date",
                        template: "#= kendo.toString(HireDate, 'dd/MM/yyyy') #"
                    },
                    {
                        field: "Actions",
                        title: "Actions",
                        template: '<a href="javascript:void(0);" onclick="EditJob(this);" class="btn btn-info">Edit</a>' + '<a href="javascript:void(0);" onclick="DeleteJob(this);" class="btn btn-danger mx-2">Delete</a>',
                        width: 'auto',
                    },
                ]
            });
        }

        function Refresh() {
            var grid = $("#grid").data("kendoGrid");
            grid.dataSource.read();
            $('#jobWindow').data("kendoWindow").close();
        }

        function OpenWindow() {
            var window = $('#jobWindow').data("kendoWindow");
            window.center().open();
        }

        function EditJobFunction(Id) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Edit", "Home")',
            data:{'Id': Id},
            success: function (result) {
                $("#jobWindowData").html(result);
                $('#jobWindow').data("kendoWindow").center().open();
            },
            error: function (xhr, textStatus, errorThrown) {
                alert('Network Error');
            }
        });
        }

        function EditJob(e) {
        var grid = $("#jobsGrid").data("kendoGrid");
        var dataItem = grid.dataItem($(e).closest("tr"));
        EditJobFunction(dataItem.Id);
    }

        function DeleteJob(e) {
        var grid = $("#jobsGrid").data("kendoGrid");
        var dataItem = grid.dataItem($(e).closest("tr"));
        if (confirm('Are you sure you want to delete this Job?')) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteJob", "Home")',
                data: { JobId: dataItem.Id },
                success: function (result) {
                    if (!result) {
                        alert("Error Happened!");
                    } else {
                        var grid = $("#jobsGrid").data("kendoGrid");
                        grid.dataSource.read();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert('Network Error');
                }
            });
        }
    }

    </script>
}