@using System.Web.Script.Serialization
@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Home Page";
}

<div class="card p-5">
    <div class="card-header bg-white d-flex justify-content-between">
        <h2>
            Jobs
        </h2>
        <a id="addJobBtn" class="btn btn-success d-flex align-items-center">Add New Job</a>
    </div>

    <div class="card-body">
        <div class="mb-3">
            <label>Default Branch</label>
            <div class="d-flex justify-content-between">
                <input id="DefaultBranchId" class="bg-white rounded" style="width: auto" />
                <button class="btn btn-outline-danger" id="deleteMultipleBtn" style="display: none" onclick="DeleteMultiple()">Delete Multiple</button>
            </div>
        </div>
        <div id="jobsGrid"></div>
    </div>

    <div id="jobWindow">
        <div id="jobWindowData"></div>
    </div>
</div>


@section scripts{
    <script>
        var Branches = @Html.Raw(new JavaScriptSerializer().Serialize(ViewBag.Branches));

        $(document).ready(function () {
            LoadGrid();
        });

        $("#DefaultBranchId").kendoComboBox({
            dataTextField: "Name",
            dataValueField: "Id",
            dataSource: { data: Branches },
            value: "@ViewBag.DefaultBranchId",
            filter: "contains",
            suggest: true,
            minLength: 2,
            change: function (e) {
                Refresh();
            }
        });

        $('#addJobBtn').on('click', function () {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("Create", "Home")',
                success: function (result) {
                    $("#jobWindowData").html(result);
                    $('#jobWindow').data("kendoWindow").center().open();
                },
                error: function (xhr, textStatus, errorThrown) {
                    Swal.fire({
                        icon: "error",
                        title: "Oops...",
                        text: "Something went wrong!",
                    });
                }
            });
        });

        $('#jobsGrid').on('dblclick', ".k-grid-content tr", function(e) {
            var grid = $("#jobsGrid").data("kendoGrid");
            var dataItem = grid.dataItem(e.currentTarget);
            EditJobFunction(dataItem.Id);
        });

        $('#jobWindow').kendoWindow({
            actions: ["Close"],
            draggable: true,
            modal: true,
            title: "Job",
            width: "60%",
            visible: false
        });

        function LoadGrid() {
            $('#jobsGrid').kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: '@Url.Action("GetJobs", "Home")',
                            dataType: "json",
                            data: function () {
                                return {
                                    branchId: $("#DefaultBranchId").data("kendoComboBox").value()
                                };
                            }
                        }
                    },
                    pageSize: 20,
                    schema: {
                        model: {
                            fields: {
                                Id: { type: "int" },
                                Name: { type: "string" },
                                HireDate: { type: "date" },
                            }
                        }
                    },
                },
                sortable: true,
                resizable: true,
                pageable: {
                    refresh: true,
                    pageSizes: true,
                },
                columns: [
                    {
                        field: "",
                        title: "",
                        template: '<input class="form-check-input grid-checkbox selectedJobCheckbox" type="checkbox" onchange="ChangeCheckBox()"/>',
                        width: '2.5em',
                    },
                    {
                        field: "Id",
                        hidden: true
                    },
                    {
                        field: "Name",
                        title: "Name"
                    },
                    {
                        field: "HireDate",
                        title: "Hire Date",
                        template: "#= kendo.toString(HireDate, 'dd/MM/yyyy') #"
                    },
                    {
                        field: "Actions",
                        title: "Actions",
                        template: '<a href="javascript:void(0);" onclick="EditJob(this);" class="btn btn-info">Edit</a>' + '<a href="javascript:void(0);" onclick="DeleteJob(this);" class="btn btn-danger mx-2">Delete</a>',
                        width: 'auto',
                    },
                ],
                dataBound: function () {
                    ChangeCheckBox();
                }
            });
        }

        function Refresh() {
            var grid = $("#jobsGrid").data("kendoGrid");
            grid.dataSource.read();
        }

        function OpenWindow() {
            var window = $('#jobWindow').data("kendoWindow");
            window.center().open();
        }

        function ChangeCheckBox() {
            if ($('.selectedJobCheckbox:checked').length > 0) {
                $('#deleteMultipleBtn').show();
            }
            else {
                $('#deleteMultipleBtn').hide();
            }
        }

        function EditJobFunction(Id) {
        $.ajax({
            type: 'GET',
            url: '@Url.Action("Edit", "Home")',
            data:{'Id': Id},
            success: function (result) {
                $("#jobWindowData").html(result);
                $('#jobWindow').data("kendoWindow").center().open();
            },
            error: function (xhr, textStatus, errorThrown) {
                Swal.fire({
                    icon: "error",
                    title: "Oops...",
                    text: "Something went wrong!",
                });
            }
        });
        }

        function EditJob(e) {
        var grid = $("#jobsGrid").data("kendoGrid");
        var dataItem = grid.dataItem($(e).closest("tr"));
        EditJobFunction(dataItem.Id);
    }

        function DeleteJob(e) {
            var grid = $("#jobsGrid").data("kendoGrid");
            var dataItem = grid.dataItem($(e).closest("tr"));
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteJob", "Home")',
                        data: { JobId: dataItem.Id },
                        success: function (result) {
                            if (!result) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                                Refresh();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something went wrong!",
                            });
                        }
                    });
                }
            });
        }

        function DeleteMultiple() {
            var selectedJobsIds = [];
            $('.selectedJobCheckbox:checked').each(function () {
                var dataItem = $('#jobsGrid').data('kendoGrid').dataItem($(this).closest('tr'));
                selectedJobsIds.push(dataItem.Id);
            });
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("DeleteMultipleJobs", "Home")',
                        data: { JobsIds: selectedJobsIds },
                        success: function (result) {
                            if (!result) {
                                Swal.fire({
                                    icon: "error",
                                    title: "Oops...",
                                    text: "Something went wrong!",
                                });
                            }
                            else {
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                                Refresh();
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            Swal.fire({
                                icon: "error",
                                title: "Oops...",
                                text: "Something went wrong!",
                            });
                        }
                    });
                }
            });
        }
    </script>
}